# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    app.dam_name: fake
    app.pim_structure.config_path: '%kernel.project_dir%/config/resources/pim-assets-structure.yml'
    app.dam_to_pim_mapping.config_path: '%kernel.project_dir%/config/resources/dam-to-pim-mapping.yaml'
    app.database.connection_params:
        url: '%env(DATABASE_URL)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    AkeneoDAMConnector\:
        resource: '../src/*'
        exclude:
            - '../src/{DependencyInjection,Tests,Kernel.php}'
            - '../src/Domain'
            - '../src/Infrastructure/DAM'

    Doctrine\DBAL\Connection:
        factory: ['Doctrine\DBAL\DriverManager', getConnection]
        arguments: ['%app.database.connection_params%']

    AkeneoDAMConnector\Infrastructure\Pim\ClientBuilder:
        arguments:
            $baseUri: '%env(AKENEO_BASE_URI)%'
            $clientId: '%env(AKENEO_CLIENT_ID)%'
            $secret: '%env(AKENEO_SECRET)%'
            $username: '%env(AKENEO_USERNAME)%'
            $password: '%env(AKENEO_PASSWORD)%'

    app.pim_structure.config_loader:
        class: AkeneoDAMConnector\Infrastructure\YamlConfigLoader
        arguments:
            $path: '%app.pim_structure.config_path%'

    app.dam_to_pim_mapping.config_loader:
        class: AkeneoDAMConnector\Infrastructure\YamlConfigLoader
        arguments:
            $path: '%app.dam_to_pim_mapping.config_path%'

    AkeneoDAMConnector\Application\Mapping\AssetMapper:
        arguments:
            $mappingConfigLoader: '@app.dam_to_pim_mapping.config_loader'

    AkeneoDAMConnector\Application\Mapping\AssetAttributeBuilder:
        arguments:
            $structureConfigLoader: '@app.pim_structure.config_loader'

    AkeneoDAMConnector\Application\Service\SynchronizeAssetsStructure:
        arguments:
            $structureConfigLoader: '@app.pim_structure.config_loader'

    AkeneoDAMConnector\Infrastructure\Command\SynchronizeAssetsCommand:
        arguments:
            $mappingConfigLoader: '@app.dam_to_pim_mapping.config_loader'
